@model EMS_MVC_30121023.Models.Department.DepartmentModel
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@


    <form method="post">
        <div>
            @Html.HiddenFor(x => x.DepartmentId)
            <table>
                <tr>
                    <th>Department Code</th>
                    <td>
                        @Html.TextBoxFor(x => x.DepartmentCode)
                    </td>
                </tr>
                <tr>
                    <th>Department Name</th>
                    <td>
                        @Html.TextBoxFor(m => m.DepartmentName)
                    </td>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="submit" value="Save" />
                    </th>

                </tr>
            </table>

        </div>
        <div>
            <br />
            <span style="color:red">@ViewBag.Message</span>
        </div>
    </form>


